.article {
	padding-top: 80px;
	padding-bottom: 120px;
}

.article__title-medium {
	font-size: 36px;
}

.article__text {
	margin-bottom: 20px;
	font-weight: 400;
	font-size: 16px;
	line-height: 130%;
	color: #535755;
}

.article__decor-wrapper {
	position: relative;
}

.article__decor-wrapper-1::before {
	top: 100px;
	left: 0;
}

.article__decor-wrapper-2::before {
	bottom: 100px;
	right: 0;
}

.article__container-mb {
	margin-bottom: 80px;
}
.article__container-mb-1 {
	margin-bottom: 40px;
}

.article__list {
	margin-top: 0;
	padding: 0;
	list-style: none;
}

.article__list-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	gap: 8px;
	margin-bottom: 12px;
}

.article__list-item::before {
	content: "";
	width: 8px;
	height: 8px;
	background-color: #3596ed;
	border-radius: 50%;
}

.article__play-button {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 0;
	background-color: #3596ed;
	border: none;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	cursor: pointer;
	-webkit-transition: background-color 0.2s;
	-o-transition: background-color 0.2s;
	transition: background-color 0.2s;
}

.article__play-button:hover {
	background-color: #39a1fc;
}
.article__play-button:not(:disabled):active {
	background-color: #2974b6;
}

@media (width <= 768px) {
	.article__container-mb {
		margin-bottom: 60px;
	}
	.article__decor-wrapper::before {
		display: none;
	}
	.article__title-medium {
		font-size: 32px;
	}
}
@media (width <= 576px) {
	.article {
		padding-top: 60px;
		padding-bottom: 80px;
	}
	.article__container-mb {
		margin-bottom: 40px;
	}
	.article__container-mb-1 {
		margin-bottom: 30px;
	}
	.article__title-medium {
		font-size: 28px;
	}
	.article__play-button {
		width: 50px;
		height: 50px;
	}
	.article__svg {
		width: 18px;
		height: 18px;
	}
}
