.article {
	padding-top: 80px;
	padding-bottom: 120px;
}

.article-title-medium {
	font-size: 36px;
}

.article-text {
	margin-bottom: 20px;
	font-weight: 400;
	font-size: 16px;
	line-height: 130%;
	color: #535755;
}

.article-decor-wrapper {
	position: relative;
}
.article-decor-wrapper::before {
	content: "";
	position: absolute;
	z-index: -1;
	background: url(../images/декор\ 2.svg) no-repeat;
	width: 528px;
	height: 48px;
}

.article-decor-wrapper-1::before {
	top: 100px;
	left: -350px;
}

.article-decor-wrapper-2::before {
	bottom: 100px;
	right: -350px;
}

.article-mb {
	margin-bottom: 80px;
}
.article-mb-1 {
	margin-bottom: 40px;
}

.article-img,
.article-video {
	width: 100%;
}

.article-list {
	margin-top: 0;
	padding: 0;
	list-style: none;
}

.article-list-item {
	display: flex;
	align-items: center;
	gap: 8px;
	margin-bottom: 12px;
}

.article-list-item::before {
	content: "";
	width: 8px;
	height: 8px;
	background-color: #3596ed;
	border-radius: 50%;
}

.article-play-button {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	background-color: #3596ed;
	border: none;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	cursor: pointer;
	transition: background-color 0.2s;
}

.article-play-button:hover {
	background-color: #39a1fc;
}
.article-play-button:not(:disabled):active {
	background-color: #2974b6;
}
