.footer {
	padding: 60px 0 40px;
	margin-top: auto;
	background: -webkit-gradient(
		linear,
		left top,
		right top,
		from(#49a9ff33),
		to(#fc7cd933)
	);
	background: -o-linear-gradient(left, #49a9ff33 0%, #fc7cd933 100%);
	background: linear-gradient(90deg, #49a9ff33 0%, #fc7cd933 100%);
	text-align: center;
}
.footer__top {
	padding-bottom: 40px;
	margin-bottom: 40px;
	border-bottom: 1px solid #d3cbd9;
}
.footer__logo {
	display: inline-block;
	margin-bottom: 40px;
}
.menu__list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	gap: 60px;
}

.menu__link {
	font-weight: 400;
	font-size: 16px;
	line-height: 130%;
	color: #535755;
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}

.menu__link:hover {
	color: #3596ed;
}

.copyright {
	font-weight: 400;
	font-size: 14px;
	letter-spacing: 0.04em;
	color: #858e8a;
}

@media (width <= 768px) {
	.menu__list {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		gap: 25px;
	}
}

@media (width <= 576px) {
	.footer {
		padding-top: 40px;
	}
}
