.footer {
    
	padding: 60px 0 40px;
    margin-top: auto;
	background: linear-gradient(90deg, #49a9ff33 0%, #fc7cd933 100%);
	text-align: center;
}
.footer-top {
	padding-bottom: 40px;
	margin-bottom: 40px;
	border-bottom: 1px solid #d3cbd9;
}
.footer-logo {
	display: inline-block;
	margin-bottom: 40px;
}
.menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 60px;
}

.menu a {
	font-weight: 400;
	font-size: 16px;
	line-height: 130%;
	color: #535755;
	transition: 0.2s;
}

.menu a:hover {
	color: #3596ed;
}

.copyright {
	font-weight: 400;
	font-size: 14px;
	letter-spacing: 0.04em;
	color:  #858e8a;
}
