html {
    font-family: sans-serif;
}

body * {
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
a {
    color: #000;
}

.container {
    max-width: 1320px;
    padding: 0 15px;
    margin: 0 auto;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 15px;
}

.logo {
    width: 50px;
    height: 50px;
    background-color: #000;
}
.logo-link {
    display: block;
    width: 100%;
    height: 100%;
}


.header-list {
    display: flex;
    gap: 20px;
}

.header-phone {
    text-decoration: none;
}
.header-line {
    border: 2px solid #ddd;
}