.brands {
  background-color: var(--bg-dark);
}

.brands__list {
  padding-block: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* grid-template-columns: repeat(5, 1fr); */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 22px 106px;
}

.brands__list img {
  max-width: 150px;
}

@media (width <= 768px) {
  .brands__list {
    padding-block: 40px;
    gap: 20px 34px;
  }

  .brands__list img {
    max-width: 150px;
  }
}

@media (width <= 576px) {
  .brands__list img {
    max-width: 90px;
    max-height: 27px;
  }
}
