@media (width > 768px) {
  .header {
    padding-block: 24px;
  }
}
@media (width <= 768px) {
  .header {
    padding-block: 12px;
  }
  
  .header__logo {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .header__menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 100;
    min-width: 297px;
    padding: 144px 0 20px 15px;
    background-color: var(--bg-primary);
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: opacity var(--transition-time), -webkit-transform var(--transition-time);
    transition: opacity var(--transition-time), -webkit-transform var(--transition-time);
    -o-transition: transform var(--transition-time), opacity var(--transition-time);
    transition: transform var(--transition-time), opacity var(--transition-time);
    transition: transform var(--transition-time), opacity var(--transition-time), -webkit-transform var(--transition-time);
    -webkit-box-shadow: -4px 0 20px var(--shadow-menu-color);
            box-shadow: -4px 0 20px var(--shadow-menu-color);
  }

  .header__menu--open {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    left: 0;
    opacity: 1;
    visibility: visible;
  }

  .header__menu .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (width > 576px) {
  .header__container {
    gap: 40px;
  }
  .header__actions {
    gap: 14px;
  }
}

@media (width <= 576px) {
  .header__container {
    gap: 16px;
  }
  .header__actions {
    gap: 12px;
  }
}

.header__search {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 462px;
  border-radius: 62px;
  padding: 12px 16px;
  background: var(--bg-secondary);
}

@media (width <= 1100px) {
  .header__search {
    display: none;
  }
}

.header__search-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}

.header__search-input {
  font-size: 16px;
  font-weight: 400;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border: none;
  outline: none;
  background: transparent;
}

.header__search-input::-webkit-input-placeholder {
  color: var(--text-muted);
}

.header__search-input::-moz-placeholder {
  color: var(--text-muted);
}

.header__search-input:-ms-input-placeholder {
  color: var(--text-muted);
}

.header__search-input::-ms-input-placeholder {
  color: var(--text-muted);
}

.header__search-input::placeholder {
  color: var(--text-muted);
}
.header__search:focus-within {
  -webkit-box-shadow: 0 0 2px var(--text-primary);
          box-shadow: 0 0 2px var(--text-primary);
}

.header__controls {
  margin-left: auto;
}

.header__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__actions-button {
  color: var(--text-primary);

@media (any-hover: hover) {
  .header__actions-button:hover {
    color: var(--color-hover);
  }
}

@media (width > 1100px) {
  .header__actions-button-mobile {
    display: none;
  }

}
