body {
    font-size: 100px;
    background: #302e2e;
    color: #fff;
    margin-top: 2%;
}
.title {
    text-align: center;
    position: relative;
}
.container {
    display: flex;
    justify-content: center;
}
.title::after {
    content:'';
    display: block;
    position: absolute;
    top: -1%;
    right: -38%;
    border-radius: 100%;
    width: 120px;
    height: 120px;
    background: #917deb;
    border: solid #fff;
}
.title::before {
    content:'';
    display: block;
    position: absolute;
    top: -1%;
    left: -38%;
    border-radius: 100%;
    width: 120px;
    height: 120px;
    background: #e41818;
    border: solid #fff;
}
